<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-form">
        <div id="header">
          <%= render 'header'%>
        </div>
        
        <div class="pmd-card-title">
          <%= render 'form' %>
        </div>
      </div>
    </div><!-- /col-md-12 -->
  </div><!-- /row/ -->
</div><!-- /container -->
