<%= button_tag type: :submit,
               name: 'Submit',
               class: 'btn btn-primary pmd-btn-raised pmd-ripple-effect',
               data: { disable_with: "Submitting..." } do %>
  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Submit
<% end %>
