<div class="container-fluid container-full-width">
  <div class="row">
    <div class="col-md-12">
      <div id="header">
        <%= render 'header', total_income: @total_income %>
      </div>
      
      <div id="list" >
        <%= render 'list' %>
      </div>

      <div id="list-actions">
        <%= render 'list_actions' %>
      </div>
    </div><!-- /col-md-12 -->
  </div><!-- /row -->
</div><!-- /container -->
